.card-container {
  margin-right: 25%;
  display: flex; /* Use flexbox for navigation links */
  margin-left: 25%; /* Push the navigation links to the right */
  margin-top: 20px;
  gap: 20px;
}

.card-image {
  width: 300px;
  height: 250px;
}

.card-title {
  font-family: "Markazi Text", serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.card-text {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

#orderdelivery {
  font-family: "Karla", serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 7rem;
  text-decoration: none;
  color: black;
}

.card-title-price {
  display: flex;
  gap: 100px;
}

.card-price {
  margin-top: 10px;
  color: #ffc107;
  font-family: "Karla", sans-serif;
  font-weight: 600;
}
